/* STYLE HOWEVER YOU WANT! I don't own you. */
#tour > * {
  background: #fff;
  position: absolute;
  padding: 20px;
  border: 1px solid #444;
  border-radius: 0 20%;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.5);
}

.tour-nav {
  text-align: right;
}

.tour-nav a {
  text-decoration: none;
  display: inline-block;
  color: blue;
  background: lightblue;
  border: 1px solid;
  padding: 4px 8px;
  border-radius: 3px;
}


/* whatever */
body {
  font-family: "comic sans ms";
  padding: 40px;
  color: #444;
  background: #f4f5f7;
}

img {
  background: #fff;
  padding: 2px;
  border: solid 1px #ccc;
}

#nic-kitty {
  display: inline-block;
}