body {
  background: #f4f5f7;
}

.popover-content, .modal-body {
  background-image: url(../img/gandolf.jpg);
  background-repeat: no-repeat;
  background-position: bottom left;
  padding-left: 200px;
  min-height: 147px;
}

.spin {
  -webkit-transition: all 1s linear;
  -webkit-transform: rotate(360deg);
}

.popover {
  width: 500px;
}

.popover-actions {
  text-align: right;
}

/* STYLE HOWEVER YOU WANT! I don't own you. */
/*#tour > * {
  background: #fff;
  position: absolute;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 20px;
}

.tour-nav {
  text-align: right;
}

.tour-nav a {
  text-decoration: none;
  display: inline-block;
  color: white;
  background: #666;
  padding: 4px 8px;
  border-radius: 4px;
}

.tour-nav a:hover {
  background: #888;
}

.tour-nav a:active {
  background: #000;
}

[data-position]:after,
[data-position]:before {
  content: '';
  display: block;
  width: 0; 
  height: 0;
  position: absolute;
}

[data-position=right]:before {
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-right: 11px solid #888;
  top: 20px;
  left: -11px;
}

[data-position=right]:after {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid white;
  top: 21px;
  left: -10px;
}

[data-position=left]:before {
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-left: 11px solid #888;
  top: 44px;
  right: -11px;
}

[data-position=left]:after {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid white;
  top: 45px;
  right: -10px;
}

body {
  font-family: "comic sans ms";
  padding: 40px;
  color: #444;
  background: #f4f5f7;
}

img {
  background: #fff;
  padding: 2px;
  border: solid 1px #ccc;
}

#nic-kitty {
  display: inline-block;
}

*/